<!DOCTYPE HTML>
<html>
<head>
    <title>챗봇 TEST PAGE 0.1Ver</title>
    <meta http-equiv="Content-Type" content="text/html;" charset="UTF-8" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/container_style.css">
</head>
</html>
