<!DOCTYPE html>
<html lang="ko">
<head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="description" content="">
   <meta name="viewport" content="width=device-width">
   <title>TV채팅 약관</title>
   <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap" rel="stylesheet">
   <style>
   /* reset */
   html, body, div, span, applet, object, iframe,
   h1, h2, h3, h4, h5, h6, p, blockquote, pre,
   a, abbr, acronym, address, big, cite, code,
   del, dfn, em, img, ins, kbd, q, s, samp,
   small, strike, strong, sub, sup, tt, var,
   b, u, center,
   dl, dt, dd, ol, ul, li,
   fieldset, form, label, legend,
   table, caption, tbody, tfoot, thead, tr, th, td,
   article, aside, canvas, details, embed,
   figure, figcaption, footer, header, hgroup,
   menu, nav, output, ruby, section, summary,
   time, mark, audio, video {
      margin: 0;
      padding: 0;
      border: 0;
      list-style: none;
      vertical-align: baseline;
      font-weight:normal;
      font-family:'Noto Sans KR','돋움','Nanum Barun Gothic',Dotum, Arial, Helvetica, AppleGothic, sans-serif
   }
   table{border-collapse:collapse}
   table th,
   table td{vertical-align:middle;text-align:center}
   table caption {display:none}

   /* terms */
   .terms {padding:20px;font-size:18px;color:#666}
   .terms .section + .section {margin-top:40px}
   .terms .title {position:relative;padding-left:20px;font-weight:700;font-size:20px;color:#2bb7b4}
   .terms .title::before {content:'';position:absolute;top:10px;left:0;display:block;width:12px;height:12px;border-radius:12px;background:#2bb7b4}
   .terms .content {margin-top:20px}
   .terms .content strong {font-weight:500}
   .terms .content p {margin-top:15px}
   .terms .content span {margin-top:5px;font-size:14px;color:#999}
   .terms .table {width:100%;margin-top:15px}
   .terms .table th,
   .terms .table td {padding:10px;border-bottom:1px solid #eee;border-right:1px solid #eee}
   .terms .table th {border-top:1px solid #eee;background:#f9f9f9}
   .terms .table td {text-align:left}
   .terms .table th:first-child,
   .terms .table td:first-child {border-left:1px solid #eee}
   </style>
</head>
<body>
   <div class="terms">
      <div class="section">
         <div class="title">개인정보 수집 이용 동의</div>
         <div class="content">
            <strong>제 01 장 총직</strong>
            <p>주식회사 케이티(이하 “회사”)는 고객님의 개인정보를 소중하게 생각하고 고객님의 개인정보를 효과적으로 관리하고 안전하게 보호하기 위하여 최선의 노력을 다 하고 있습니다. <br>회사는 『개인정보 보호법』과 개인정보보호 관련 각종 법규를 준수하고 있습니다. 또한 개인정보처리방침을 제정하여 이를 준수하고 있으며, 본 처리방침을 홈페이지에 공개하여 고객님께서 언제나 쉽게 열람하실 수 있도록 하고 있습니다.<br>
            <br>1. 개인정보란 생존하는 개인에 관한 정보로서 성명, 주민등록번호 등에 의하여 당해 개인을 알아볼 수 있는 부호, 문자, 음성, 음향, 영상 및 생체 특성 등에 관한 정보(당해 정보만으로는 특정 개인을 알아볼 수 없는 경우에도 다른 정보와 용이하게 결합하여 알아볼 수 있는 것을 포함)를 말합니다.
            <br>2. 회사는 고객님의 개인정보를 중요시하며, 『개인정보 보호법』과 관련 법규를 준수하고 있습니다.
            <br>3. 회사는 개인정보처리방침을 통하여 고객님의 개인정보가 어떠한 용도와 방식으로 이용되고 있으며, 개인정보보호를 위해 어떠한 조치가 취해지고 있는지 알려 드립니다.
            <br>4. 회사의 개인정보처리방침은 관련 법령 및 내부 운영 방침의 변경에 따라 개정될 수 있습니다. 개인정보처리방침이 변경되는 경우에는 시행일자 등을 부여하여 개정된 내용을 홈페이지(http://www.kt.com)에 지체 없이 공지합니다.
            <br>5. 영업의 전부 또는 일부를 양도하거나 합병 등으로 개인정보를 이전하는 경우 서면·전자우편 등을 통하여 고객님께 개별적으로 통지하고, 회사의 과실 없이 고객님의 연락처를 알 수 없는 경우에 해당하여 서면·전자우편 등으로 통지할 수 없는 경우에는 회사의 홈페이지(http://www.kt.com) 첫 화면에서 식별할 수 있도록 표기하여 30일 이상 그 사실을 공지합니다. 단, 천재지변 등 정당한 사유로 홈페이지 게시가 곤란한 경우에는 2곳 이상의 중앙일간지(고객님의 대부분이 특정 지역에 거주하는 경우에는 그 지역을 보급구역으로 하는 일간지로 할 수 있습니다.)에 1회 이상 공고하는 것으로 갈음합니다.</p>
         </div>

         <div class="content">
            <strong>제 02 장 개인정보의 수집·이용 목적, 항목 및 보유기간</strong>
            <p>회사는 다음과 같이 개인정보·개인위치정보·신용정보를 수집 및 보유하고 있습니다.
               <br>1. 서비스 제공을 위해 필요한 최소한의 개인정보만을 수집·이용하며, 사상, 신념, 가족 및 친인척관계, 학력(學歷)·병력(病歷), 기타 사회활동 경력 등 고객님의 권리·이익이나 사생활을 뚜렷하게 침해할 우려가 있는 개인정보는 수집하지 않습니다.
               <br>2. 고객님께서 동의하시거나 다른 법률에 따라 특별히 수집 대상 개인정보로 허용된 경우에는 필요한 범위에서 최소한으로 위 개인정보를 수집할 수 있습니다.
               <br>가. 필수 수집·이용 목적, 항목 및 보유기간</p>
            <table class="table">
               <thead>
                  <tr>
                     <th>목적</th>
                     <th>항목</th>
                  </tr>
               </thead>
               <tbody>
                  <tr>
                     <td>서비스 가입/변경/해지, 개통/AS 처리, 청구서 발송, 물품(단말기/경품 등) 배송, 본인확인, 개인식별, 가입의사확인, 고지사항전달, 서비스제공 관련 안내, <br>명의도용 방지를 위한 등록된 이동전화로 가입사실 통보, 이용관련 문의 불만처리, 컨텐츠 수급, 인구통계학적 분석(연령/성별/지역 분석 등), 이용형태, 선호도 분석,구매경로 및 불법/부당영업행위 확인, 서비스 성능 향상, 품질향상을 위한 고객만족도 조사, 서비스 제공에 필요한 서버구축 운영, 위치기반서비스, 개인맞춤형 서비스 제공, 관련 법률에 따르거나 서비스 이용 또는 업무처리 과정에서 생성되어 수집/이용, <br>신용정보집중기관 요금연체 정보 등록 전 및 신용정보회사로 채권추심 위탁 전 연체사실 통지(집전화, 인터넷전화, 인터넷, tv, mobile 등 기존에 가입한 상품/서비스 포함)</td>
                     <td>신청인 또는 (법정)대리인의 성명, 생년월일, 고유식별정보, 연계번호(CI), 중복가입 확인정보(DI), 성별, 주소, 연락전화번호, 이메일주소, <br>단말기 정보(모델명, IMEI번호, USIM 정보 등), 신분증 기재사항, 납부정보, 서비스 이용시간/이용기록, 이용정지기록, 이용정지/해지 사유, 결제기록, 착/발신전화번호, 개통정보, <br>개인위치정보(기지국, GPS 등 LBS 플랫폼 수집정보), 접속 IP/MAC, 접속로그, 이용컨텐츠, 서비스 이용 및 실행을 위한 사용자 음성명령 언어정보, 쿠키 등 서비스 이용정보, 기타 요금 과금에 필요한 데이터, 위의 개인정보를 조합하여 생성되는 정보</td>
                  </tr>
               </tbody>
            </table>
            <span>※ 귀하께서는 필수항목 수집·이용에 대한 동의를 거부하실 수 있으나, 이는 서비스 제공에 필수적으로 제공되어야 하는 정보이므로, 동의를 거부하실 경우 서비스 이용을 하실 수 없습니다.</span>
         </div>

         <div class="content">
            <strong>제 03 장 개인정보의 수집방법</strong>
            <p>회사는 다음과 같은 방법으로 개인정보를 수집합니다.
            <br>1. 가입신청서, 명의변경신청서 등 각종 서면 작성, 신분증 제시 및 스캔, 인터넷 홈페이지, 전화, 팩스 등을 통한 회원/서비스 가입, 전화나 인터넷을 통한 상담, 경품 행사 응모, 배송 요청 등의 과정에서 수집
            <br>2. 서비스 이용 또는 업무 처리 과정에서 생성되거나 제휴사 등 제3자로부터의 제공, 생성정보 수집 툴을 통한 수집 등</p>
         </div>
      </div>
   </div>
</body>
</html>
